# Lightweight ML dependencies
# Gunakan numpy versi lama yang lebih kecil & compatible
numpy==1.26.4
scikit-learn==1.3.2
# HAPUS PANDAS karena size besar (>100MB) dan tidak dipakai di model.py (sudah pakai list/numpy)

# Framework
flask==3.0.0
flask-cors==4.0.0

# Database & Utils
supabase==2.9.0
python-dotenv==1.0.0
groq
